/Backend/src/__history/ControleFinanceiroAPI.dpr.~32
__history/
modules/
Debug/
/Backend/src/ControleFinanceiroAPI.identcache
/Frontend/ControleFinanceiro.dproj.local
/Frontend/ControleFinanceiro.identcache
